body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: #2b2a2a;
    color: #bab8b8;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 38%;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    padding: 3px 8px;
    border-radius: 3px;
}
.brand-name span{
    color:orange;
}

.order-area{
    display: flex;
}
.about-area{
    display: flex;
}
.first-half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half-width h1{
    font-size: 45px;
    margin: 0 auto;
}
#order-content{
    padding-top: 10%;
}
.first-half-width h1 span{
    color: orange;
}
.first-half-width img{
    width: 100%;
}
.order-btn{
    text-decoration: none;
    background:  linear-gradient(45deg, lightsalmon,tomato );
    border-radius: 30px;
    padding:10px 20px;
    color: whitesmoke;
    font-size: 12px;
    margin-top: 20px;
}
.about-area{
    background-image: url('../imgs/about-me-back.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-area img{
    width: 50%;
    margin-left: 27%;
    margin-top: 19%;
}
#about-content{
    padding-top: 9%;
}
#about-content h1{
    font-size: 30px;
}
#about-content p{
    padding-bottom: 45px;
}
.recepie-container{
    display: flex;
    margin-bottom: 50px;
}
.recepie-item{
    width: 25%;
    margin-left: 4.4%;
    padding: 15px;
    box-shadow: 5px 7px 40px gray;
    border-radius: 20px;
}

.recepie-item img{
    width: 100%;
}
.recepie-top{
    text-align: center;
    padding: 30px 236px;
}
.social-stat-area{
    display: flex;
    box-shadow: 5px 7px 40px gray;
    border-radius: 10px;
    margin: 100px 57px;
}
.social-stat-item{
    width: 25%;
    margin-left: 2.6%;
    text-align: center;
    padding: 30px;
}
.social-stat-item h1{
    font-size: 30px;
    font-weight: 600;
    margin: 0 auto;
}
.footer-area{
    background-color: #2b2a2a;
    text-align: center;
    color: whitesmoke;
    height: 150px;
    padding-top: 30px;
}
.footer-area h1{
    color: #bab8b8;
}
.footer-area span{
    color: orange;
}